
.nav{
    display: flex;
     align-items: center;
     justify-content: space-evenly;
     background-color: #ffffff;
     gap: 2rem;
     padding: 0 2rem;
     /* position: fixed; */
     z-index: 10;
     width: 100%;
     opacity: 90%;
     

  }
  .nav-first{
    text-decoration: none;
    color: black;
  }
  
  .second-nav {
    display: flex;
    gap: 15px;
    
  }

  .second-nav > a{
    text-decoration: none;
    color: black;

  }

  .search-navbar{
  
    padding: 1rem  1.25rem;
    width: 40%;
    border: 0;

  }