/* .hero{
    background-color: aqua;
    ;
} */

.hero {
  position: relative;
}
.hero-image {
  height: 700px;
  width: 95vw;
}
.hero-text {
  position: absolute;
  top: 25%;
  left: 5%;
}

.shop-sneaker-btn {
  
  margin-top: 1rem;
  padding: 13px 30px 10px;
  background-color: #c1d2e6;
  border-radius: 4px;
  color: black;
  letter-spacing: 1px;
   
  font-weight: 1000;
  font-size: 1rem;
}

.shop-sneaker-btn  a {
 color: black;
}

.shop-sneaker-btn:hover {
  background-color: white;
  color: #020617;
  box-shadow: 0 0 5px 0 #60a5fa;
}
