
.card-container{
  display: flex;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: column;

  width: 10rem;

  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;

  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* .card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    width: 200px;
  }
  
  .card img {
    width: 100%;
  }
  
  .card h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .card p {
    margin: 0;
    font-size: 14px;
  } */
