.productCard{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
     border: 1px solid black;
}

.filter-container{
    display: flex;
    
}

.shoes-images{
    height: 300px;
   width: 350px;
}