.main-cart-container{
    display: flex;
    justify-content: space-around;
}


.cart-container{
    display: flex;
    flex-direction: column;
}

.category-cardd{
    margin: 10px;
    display: flex;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.button-increment-decrement button {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ede4e4;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.button-cart-wishlist-main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
 
  }

  .button-cart-wishlist-main button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ede4e4;
  
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button-cart-wishlist-main button:hover {
    background-color: #c7bdbd;
  }

  .button-cart-wishlist-main button:focus {
    outline: none;
  }
/* .button-cart{
    
    display: flex;
    flex-direction: column;
}

.button-wishlist{
    padding: 1rem 2rem;
    border: none;
    margin-top: 1rem;
}

.cart-Btn:hover{
 background-color: bisque;
 color: black;
} */